<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.majie.stugrade"
    android:versionCode="1"
    android:versionName="1.0">

    <!-- 百度定位需要的权限 -->
    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23" />

    <application
        android:allowBackup="true"
        android:name=".App"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name">
        <activity
            android:name=".ui.LoginActivity"
            android:label="登录"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.RegisterActivity"
            android:label="新用户注册"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="roboguice.modules"
            android:value="com.majie.stugrade.ui.notes.config.ConfigModule" />

        <activity
            android:name=".ui.notes.activity.NotesMainActivity"
            android:label="@string/title_activity_notes_list"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.notes.activity.EditNoteActivity"
            android:label="@string/title_activity_edit_note"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.notes.activity.ViewNoteActivity"
            android:label="@string/title_activity_view_note"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.kechengbiao.ContentMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.kechengbiao.CourseActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.weather.activity.WeatherActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:label="天气"/>
        <activity
            android:name=".ui.weather.activity.SelectCityActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:label="选择城市" />
        <activity
            android:name=".ui.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="MEMK39Gs9RS2jXyiG3He4VUB" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" />
            </intent-filter>
        </service>

        <activity android:name=".ui.AboutActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.ScoreRulesActivity" android:screenOrientation="portrait"
            android:label="评分规则"/>

        <activity android:name=".ui.PreferenceActivity" android:screenOrientation="portrait"
            android:label="设置地图定位规则"/>
        <activity android:name=".ui.score.ScoreMainActivity" android:screenOrientation="portrait"
            android:label="分数"/>
    </application>




</manifest>